[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A robot powered training repository :robot:
[access "refs/*"]
	owner = group user/Nithyaravi-coder
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Nithyaravi-coder
	label-Verified = -1..+1 group user/Nithyaravi-coder
	push = group user/Nithyaravi-coder
	read = group user/Nithyaravi-coder
	rebase = group user/Nithyaravi-coder
	removeReviewer = group user/Nithyaravi-coder
	submit = group user/Nithyaravi-coder
[access "refs/heads/*"]
	create = group user/Nithyaravi-coder
	push = +force group user/Nithyaravi-coder
	pushMerge = group user/Nithyaravi-coder
	read = group user/Nithyaravi-coder
[access "refs/tags/*"]
	push = group user/Nithyaravi-coder
	push = +force group user/Nithyaravi-coder
